<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- BOOTSTRAP CDN -->
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="/css/owl.carousel.min.css">
   <link rel="stylesheet" href="/css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link rel="shorcut icon" type="image/x-icon" href="/img/logo-h.png">

   <title>HostCloud</title>
</head>

<body>
   <!-- MAIN CONTENT -->
   <header class="section">
      <!-- header inner -->
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/"><img src="/img/logoheader.png" alt="#" height="120px"
                                 width="120px"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li> <a href="/">Inicio</a> </li>
                              <li> <a href="/#nosotros">Nosotros</a> </li>
                              <li><a href="/#productos">Nuestros Productos</a></li>
                              <li><a href="/#contacto">Contáctanos</a></li>
                              <li><a href="/users/signin">Iniciar Sesión</a></li>

                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
   </header>
   <section>
      <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#main_slider" data-slide-to="0" class="active"></li>
            <li data-target="#main_slider" data-slide-to="1"></li>
            <li data-target="#main_slider" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row marginii">
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="carousel-caption ">
                           <h1>Bienvenido a <strong class="color">Hostcloud</strong></h1>
                           <p>Solucionando tus necesidades.</p>
                           <a class="btn btn-lg btn-primary" href="/users/signin" role="button">Comprar</a>
                           <a class="btn btn-lg btn-primary" href="#productos" role="button">Ver más </a>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="img-box">
                           <figure><img src="/img/logo-h.png" alt="img" /></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

   </section>
   <!-- plant -->
   <div id="productos" class="clothes_main section ">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="titlepage">
                  <h2><strong class="black"> Nuestros</strong> Productos</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div >
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
               <div class="sport_product">
                  <figure><img src="/img/reloj.jpg" alt="img" /></figure>
                  <h3>O' clock</h3>
                  <a class="btn btn-lg btn-primary" href="#" role="button">Ver más</a>

               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
               <div class="sport_product">
                  <figure><img src="/img/smrt-bote.png" alt="img" /></figure>
                  <h3>SmarTrash</h3>
                  <a class="btn btn-lg btn-primary" href="#" role="button">Ver más</a>

               </div>
            </div>
            <div class="w-100">
               <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                     <div class="sport_product">
                        <figure><img src="/img/cerradura-e.jpg" alt="img" /></figure>
                        <h3>MasterKey</h3>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Ver más</a>

                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                     <div class="sport_product">
                        <figure><img src="/img/cerradura-f.png" alt="img" /></figure>
                        <h3>CardSmrt</h3>
                        <a class="btn btn-lg btn-primary" href="cardsmrt.ejs" role="button">Ver más</a>

                     </div>
                  </div>
               </div>
            </div>


         </div>
      </div>
   </div>

   <!-- end plant -->

   <section>
      <div id="nosotros" class="section carousel slide banner-main" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#main_slider" data-slide-to="0" class="active"></li>
            <li data-target="#main_slider" data-slide-to="1"></li>
            <li data-target="#main_slider" data-slide-to="2"></li>
         </ol>
         <div class="carousel-item active">
            <div class="container">
               <div class="row marginii">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                     <div class="carousel-sporrt_text ">
                        <div class="titlepage">
                           <h2><strong class="black">Sobre</strong> Nosotros</h2>
                        </div>
                        <h1 class="sporrt_text"></h1>
                        <p class="lorem_text">HostCloud es una empresa diseñada con el fin de ofrecer productos de
                           Internet de las Cosas(IoT), diversificar el modelo de negocio y brindar a los usuarios
                           mejor
                           comodidad en el uso y administración de nuestros servicios y productos. </p>
                        <div class="btn_main">
                           <a class="btn btn-lg btn-primary" href="#" role="button">Leer más</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                     <div class="img-box">
                        <figure><img src="/img/nosostros.png" style="max-width: 100%; border: 15px solid #fff;" />
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>


      </div>
      </div>
   </section>
   </div>
   <!-- end about -->

   <!-- start Contact Us-->



   <div id="contacto" class="contact_us_2">
      
            <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1822.5801157351216!2d-104.61867514127806!3d23.99011830000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb833da45df2b%3A0x2392fefbf317535!2sUniversidad%20Tecnol%C3%B3gica%20de%20Durango!5e0!3m2!1ses!2smx!4v1616346474268!5m2!1ses!2smx" width="600" height="450" style="border-radius:20px;" allowfullscreen="" loading="lazy"></iframe>

            </div>
    

   </div>



   <!-- JAVASCRIPT CDNS -->
   <!-- javascript -->
   <!-- footer start-->
   <div id="footer" class="Address layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="titlepage">
                  <div class="main">
                     <h1 class="address_text">Contacto</h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="address_2">
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="site_info">
                     <span class="info_icon"><img src="img/map-icon.png" /></span>
                     <span style="margin-top: 10px;">Carr. Durango – Mezquital, Km. 4.5 Gabino Santillán. C.P. 34308,
                        Durango, Dgo.</span>
                  </div>
               </div>
               <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="site_info">
                     <span class="info_icon"><img src="img/phone-icon.png" /></span>
                     <span style="margin-top: 21px;">( +52 6183041146 )</span>
                  </div>
               </div>
               <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="site_info">
                     <span class="info_icon"><img src="img/email-icon.png" /></span>
                     <span style="margin-top: 21px;">Hostcloud.dgo@gmail.com</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="menu_main">
         <div class="menu_text">
            <ul>
               <li class="active"><a href="#">Inicio</a></li>
               <li><a href="#about.html">Nosotros</a></li>
               <li><a href="#testmonial.html">Productos</a></li>
               <li><a href="#contact.html">Iniciar sesión</a></li>
            </ul>
         </div>
      </div>
   </div>
   </div>

   <div id="plant" class="footer layout_padding">
      <div class="container">
         <p>© 2021 | Todos los derechos reservados.</a></p>
      </div>
   </div>
   <script defer data-key="cef7fb0a-9c64-44a4-8f3b-953ac4f3095f" src="https://widget.tochat.be/bundle.js"></script>
</body>

</html>

<!---<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <a class="btn btn-primary btn-lg" href="http://faztweb.com" role="button">FaztWeb</a>
</div>