<!-- footer start-->
<div id="footer" class="Address layout_padding">
  <div class="container">
     <div class="row">
        <div class="col-sm-12">
           <div class="titlepage">
              <div class="main">
                 <h1 class="address_text">Contacto</h1>
              </div>
           </div>
        </div>
     </div>
     <div class="address_2">
        <div class="row">
           <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="site_info">
                 <span class="info_icon"><img src="img/map-icon.png" /></span>
                 <span style="margin-top: 10px;">Carr. Durango – Mezquital, Km. 4.5 Gabino Santillán. C.P. 34308,
                    Durango, Dgo.</span>
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="site_info">
                 <span class="info_icon"><img src="img/phone-icon.png" /></span>
                 <span style="margin-top: 21px;">( +52 6183041146 )</span>
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="site_info">
                 <span class="info_icon"><img src="img/email-icon.png" /></span>
                 <span style="margin-top: 21px;">Hostcloud.dgo@gmail.com</span>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="menu_main">
     <div class="menu_text">
        <ul>
           <li class="active"><a href="#">Inicio</a></li>
           <li><a href="#about.html">Nosotros</a></li>
           <li><a href="#testmonial.html">Productos</a></li>
           <li><a href="#contact.html">Iniciar sesión</a></li>
        </ul>
     </div>
  </div>
</div>
</div>

<div id="plant" class="footer layout_padding">
  <div class="container">
     <p>© 2021 | Todos los derechos reservados.</a></p>
  </div>
  <script defer data-key="cef7fb0a-9c64-44a4-8f3b-953ac4f3095f" src="https://widget.tochat.be/bundle.js"></script>
</div>